
<div class="bg-gray-800   md:h-full w-full md:w-64  ">

  <div class="md:mt-20 md:w-64 md:fixed md:left-0 md:top-0 content-center md:content-start text-left justify-between">
    <ul class="list-reset flex flex-row md:flex-col py-0 md:py-1 px-0.5 md:px-0.5 text-center md:text-left ">

      <li class="mr-3 flex-1">
        <a  *ngIf="page=='dashboard'; else elseStatementdashboard "  href="/#/dashoard" class="block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-blue-600">
          <i class="fa fa-solid fa-chart-line pr-0 md:pr-3 "></i><span class="pb-1 md:pb-0 text-xs md:text-base text-white md:text-white block md:inline-block">Dashboard</span>

        </a>
        <ng-template #elseStatementdashboard>
          <a    href="/#/dashboard" class="block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white  hover:border-blue-600">
            <i  class="fa fa-solid fa-chart-line pr-0 md:pr-3"></i><span class="pb-1 md:pb-0 text-xs md:text-base text-gray-600 md:text-gray-400 block md:inline-block">Dashboard</span>
          </a>
        </ng-template>
      </li>
      <li class="mr-3 flex-1">
        <a  *ngIf="page=='commande'; else elseStatementCommande "  href="/#/commande" class="block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-blue-600">
          <i class="fas fa-chart-area pr-0 md:pr-3 text-blue-600"></i><span class="pb-1 md:pb-0 text-xs md:text-base text-white md:text-white block md:inline-block">Commande</span>

        </a>
        <ng-template #elseStatementCommande>
          <a    href="/#/commande" class="block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white  hover:border-blue-600">
            <i class="fas fa-chart-area pr-0 md:pr-3 text-blue-600"></i><span class="pb-1 md:pb-0 text-xs md:text-base text-gray-600 md:text-gray-400 block md:inline-block">Commande</span>
          </a>
        </ng-template>
      </li>
      <li class="mr-3 flex-1">
        <a  *ngIf="page=='produit'; else elseStatementProduit "  href="/#/produit" class="block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-blue-600">
          <i class="fas fa-solid fa-box pr-0 md:pr-3 text-blue-600"></i><span class="pb-1 md:pb-0 text-xs md:text-base text-white md:text-white block md:inline-block">Produit</span>

        </a>
        <ng-template #elseStatementProduit>
          <a    href="/#/produit" class="block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white  hover:border-blue-600">
          <i  class="fa fa-solid fa-box pr-0 md:pr-3"></i><span class="pb-1 md:pb-0 text-xs md:text-base text-gray-600 md:text-gray-400 block md:inline-block">Produit</span>
          </a>
        </ng-template>
      </li>


      <li class="mr-3 flex-1">
        <a  *ngIf="page=='user'; else user "  href="/#/user" class="block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white border-b-2 border-blue-600">
          <i class="fas fa-solid fa-box pr-0 md:pr-3 text-blue-600"></i><span class="pb-1 md:pb-0 text-xs md:text-base text-white md:text-white block md:inline-block">User</span>

        </a>
        <ng-template #user>
          <a    href="/#/user" class="block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white  hover:border-blue-600">
            <i  class="fa fa-solid fa-box pr-0 md:pr-3"></i><span class="pb-1 md:pb-0 text-xs md:text-base text-gray-600 md:text-gray-400 block md:inline-block">User</span>
          </a>
        </ng-template>
      </li>



      <li class="mr-3 flex-1" >
        <a *ngIf="page=='client'; else elseStatementClient " href="/#/client" class="block py-1 md:py-3 pl-0 md:pl-1 align-middle text-white no-underline hover:text-white border-b-2  border-red-500">
          <i  class="fa fa-solid fa-users  pr-0 md:pr-3"></i><span class="pb-1 md:pb-0 text-xs md:text-base text-white md:text-white block md:inline-block">Client</span>

        </a>
      <ng-template #elseStatementClient>
          <a href="/#/client" class="block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white  hover:border-blue-600">
        <i  class="fa fa-solid fa-users  pr-0 md:pr-3"></i><span class="pb-1 md:pb-0 text-xs md:text-base text-gray-600 md:text-gray-400 block md:inline-block">Client</span>
          </a>

      </ng-template>
      </li>


      <li class="mr-3 flex-1" >
        <a *ngIf="page=='fournisseur'; else elseStatementFournissuer " href="/#/fournisseur" class="block py-1 md:py-3 pl-0 md:pl-1 align-middle text-white no-underline hover:text-white border-b-2  border-red-500">
          <i  class="fa fa-solid fa-industry pr-0 md:pr-3"></i><span class="pb-1 md:pb-0 text-xs md:text-base text-white md:text-white block md:inline-block">Fournisseur</span>

        </a>

        <ng-template #elseStatementFournissuer>
          <a href="/#/fournisseur" class="block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white  hover:border-blue-600">
            <i  class="fa fa-solid fa-industry pr-0 md:pr-3"></i><span class="pb-1 md:pb-0 text-xs md:text-base text-gray-600 md:text-gray-400 block md:inline-block">Fournisseur</span>
          </a>

        </ng-template>
      </li>

      <li class="mr-3 flex-1" >
        <a *ngIf="page=='creatProduitFinit'; else finit " href="/#/creatProduitFinit" class="block py-1 md:py-3 pl-0 md:pl-1 align-middle text-white no-underline hover:text-white border-b-2  border-red-500">
          <i  class="fa fa-solid fa-truck pr-0 md:pr-3"></i><span class="pb-1 md:pb-0 text-xs md:text-base text-white md:text-white block md:inline-block">add produit Finit</span>


        </a>

        <ng-template #finit>
          <a  href="/#/creatProduitFinit" class="block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white  hover:border-red-600">
            <i  class="fa fa-solid fa-truck pr-0 md:pr-3"></i><span class="pb-1 md:pb-0 text-xs md:text-base text-gray-600 md:text-gray-400 block md:inline-block">add produit Finit</span>


          </a>

        </ng-template>
      </li>
      <li class="mr-3 flex-1" >
        <a *ngIf="page=='cProduitBase'; else cProduitBase " href="/#/cProduitBase" class="block py-1 md:py-3 pl-0 md:pl-1 align-middle text-white no-underline hover:text-white border-b-2  border-red-500">
          <i  class="fa fa-solid fa-truck pr-0 md:pr-3"></i><span class="pb-1 md:pb-0 text-xs md:text-base text-white md:text-white block md:inline-block">add Produit Base</span>


        </a>

        <ng-template #cProduitBase>
          <a href="/#/cProduitBase" class="block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white  hover:border-blue-600">
            <i  class="fa fa-solid fa-truck pr-0 md:pr-3"></i><span class="pb-1 md:pb-0 text-xs md:text-base text-gray-600 md:text-gray-400 block md:inline-block">add Produit Base</span>
          </a>

        </ng-template>

      <li class="mr-3 flex-1" >
        <a *ngIf="page=='addCommandeF'; else addCommandeFournisseur " href="/#/addCommandeF" class="block py-1 md:py-3 pl-0 md:pl-1 align-middle text-white no-underline hover:text-white border-b-2  border-red-500">
          <i  class="fa fa-regular fa-plus pr-0 md:pr-3"></i><span class="pb-1 md:pb-0 text-xs md:text-base text-white md:text-white block md:inline-block">add Commande Fournisseur</span>


        </a>

        <ng-template #addCommandeFournisseur>
          <a href="/#/addCommandeF" class="block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white  hover:border-blue-600">
            <i  class="fa fa-regular fa-plus pr-0 md:pr-3"></i><span class="pb-1 md:pb-0 text-xs md:text-base text-gray-600 md:text-gray-400 block md:inline-block">add Commande Fournisseur</span>
          </a>

        </ng-template>

      </li>
      <li class="mr-3 flex-1" >
        <a *ngIf="page=='addCommandeC'; else addcommandeClient " href="/#/addCommandeC" class="block py-1 md:py-3 pl-0 md:pl-1 align-middle text-white no-underline hover:text-white border-b-2  border-red-500">
          <i  class="fa fa-regular fa-plus pr-0 md:pr-3"></i><span class="pb-1 md:pb-0 text-xs md:text-base text-white md:text-white block md:inline-block">add Commande Client</span>


        </a>

        <ng-template #addcommandeClient>
          <a href="/#/addCommandeC" class="block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white  hover:border-blue-600">
            <i  class="fa fa-regular fa-plus pr-0 md:pr-3"></i><span class="pb-1 md:pb-0 text-xs md:text-base text-gray-600 md:text-gray-400 block md:inline-block">add Commande Client </span>
          </a>

        </ng-template>
      </li>
      <li class="mr-3 flex-1" >
        <a *ngIf="page=='addF'; else addfournisseur " href="/#/addF" class="block py-1 md:py-3 pl-0 md:pl-1 align-middle text-white no-underline hover:text-white border-b-2  border-red-500">
          <i  class="fa fa-regular fa-plus pr-0 md:pr-3"></i><span class="pb-1 md:pb-0 text-xs md:text-base text-white md:text-white block md:inline-block">add Foutrnisseur</span>


        </a>

        <ng-template #addfournisseur>
          <a href="/#/addF" class="block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white  hover:border-blue-600">
            <i  class="fa fa-regular fa-plus pr-0 md:pr-3"></i><span class="pb-1 md:pb-0 text-xs md:text-base text-gray-600 md:text-gray-400 block md:inline-block">add Fournisseur</span>
          </a>

        </ng-template>

      </li>

      <li class="mr-3 flex-1" >
        <a *ngIf="page=='addC'; else addClient " href="/#/addC" class="block py-1 md:py-3 pl-0 md:pl-1 align-middle text-white no-underline hover:text-white border-b-2  border-red-500">
          <i  class="fa fa-regular fa-plus pr-0 md:pr-3"></i><span class="pb-1 md:pb-0 text-xs md:text-base text-white md:text-white block md:inline-block">add Client</span>


        </a>

        <ng-template #addClient>
          <a href="/#/addC" class="block py-1 md:py-3 pl-1 align-middle text-white no-underline hover:text-white  hover:border-blue-600">
            <i  class="fa fa-regular fa-plus pr-0 md:pr-3"></i><span class="pb-1 md:pb-0 text-xs md:text-base text-gray-600 md:text-gray-400 block md:inline-block">add Client</span>
          </a>

        </ng-template>
      </li>
      <li class="pt-5">
        <button (click)="logout()" class="rounded-md bg-red-600 py-2 px-4 border border-transparent text-center text-sm text-white transition-all shadow-md hover:shadow-lg focus:bg-red-700 focus:shadow-none active:bg-red-700 hover:bg-red-700 active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none ml-2" type="button">
          LOG-OUT
        </button>
      </li>

    </ul>
  </div>


</div>
